.box {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    float: left;
    border-radius: 15px;
}

.box1 {
    background-color: rgb(239, 143, 26);
    color: white;
}

.box2 {
    background-color: rgb(10, 70, 50);
    color: white;
    border: 1px solid yellow;
    box-sizing: border-box;
}

.box3 {
    background-color: rgb(12, 41, 94);
    color: white;
    padding: 8px 8px;
    box-sizing: border-box;
}


html {
    color: azure;
}